<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 위치정보 사용을 위한 위치 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="대피해~!"
        android:supportsRtl="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".NearShelterActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Custom"/>
        <activity
            android:name=".RouteActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapInfoActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Custom" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisasterTextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShelterCheckActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Action_Earthquake_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Action_Rain_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Action_Typhoon_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Action_Wave_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".earthquake_before"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".earthquake_usual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".earthquake_after"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomPagerAdapter"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 네이버 지도 클라이언트 ID -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="j04unglub7" />
    </application>

</manifest>